<select-box
    [apiUrls]="$any({
    baseApiUrl: 'https://gitlab.com/api/v4/',
    endpoints: {getOptions: 'groups/3564360/iterations?updated_after=2024-03-01T08:00:00Z&page=1&per_page=100'}})"
    optionsKey='id' (selected)="selectOption($event)">
</select-box>

<details *ngFor="let item of dashboardCards | async" open>
    <summary [textContent]="item.chartName"></summary>
    <dashboard-card [chartData]="item.chartData" [chartOptions]="item.chartOptions" [chartType]="item.chartType"></dashboard-card>
</details>