<p *ngIf="!networkStatus">Je bent offline...</p>
<ul>
    <li class="menu-left"><img src="../../assets/mcmain-logo.jpg" alt="Mcmain Logo"></li>
    <li class="menu-left"><a routerLink="./home">Home</a></li>
    <li class="menu-left"><a routerLink="./dashboard">Dashboard</a></li>
    <li class="menu-left"><a routerLink="./file-input">File-input</a></li>
    <li class="menu-right"><a routerLink="./login"><img src="../../assets/user-icon.png"></a></li>
</ul>