ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 60px;
  line-height: 60px;
  background-color: var(--mcmain-blue);
}

li {
  height: 100%;
}

li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

img {
  height: 90%;
}

.menu-left {
  float: left;
}

.menu-right {
  float: right;
}