<form [formGroup]="globalForm">
    <label [for]="key" [textContent]="key"></label><br>
    <input *ngIf="!showTextArea(); else textarea" [name]="key" type="text" [formControlName]="key">
    <ng-template #textarea>
        <textarea [name]="key" [formControlName]="key"></textarea>
    </ng-template>
</form>
