<form [formGroup]="selectBoxForm">
    <select formControlName="selected">
        <option selected>Please choose a value</option>
        <option *ngFor="let option of options">{{option}}</option>
    </select>
</form>
        