<h4>Inloggen</h4>
<p>API Key:</p>
<form [formGroup]="userForm" (ngSubmit)="login()">
    <input type="text" formControlName="apikey">
    <button type="submit" [disabled]="!isFormValid()">Submit</button>
  </form>
