<header></header>
<form [formGroup]="formGroup" *ngFor="let item of jsonObject | keyvalue">
    <textfield [key]="item.key" [fullJsonObject]="jsonObject" [globalForm]="formGroup"></textfield>
</form>
<router-outlet></router-outlet>
