:root {
    --mcmain-blue: #003865;
}

@font-face {
    font-family: 'Source Sans 3';
    src: url('assets/source_sans_3/SourceSans3-VariableFont_wght.ttf') 
}

* {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
    word-wrap: break-word;
}

body {
    width: 100%;
    margin: 0;
}

h4 {
    font-family: Roboto Normal, sans-serif;
    font-size: 34px;
}